
div.container-fluid#maincontainer {
  margin-top:60px;
}

img#mainlogo {
    width: 100%;
}

div.persondata {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    max-width: 500px;
}

div.persondata > h1 {
  padding-top: 60px;
}

div.persondata > img.persondata-picture {
  height:200px;
  width:200px;
  margin:20px;
  display:inline-block;
}

div.persondata > img.persondata-picture[src=""] {
   background-color:pink;
}
